/target
/.idea
/src/main/resources/application-prod.properties
/src/main/resources/keystore/masterdieta-prod.p12
/src/main/resources/application-testlocal.properties
/master-dieta.iml
/src/main/resources/application-maciek.properties
/src/main/resources/application-sebastian.properties
/adviser-platform.iml
/src/main/resources/application-devil.properties
application-prod.properties
application-community-prod.properties
/src/main/resources/application-mac.properties
application-mac.properties
src/main/resources/application-mac.properties
application-prod-backup-test.properties
/src/main/resources/application-kondzio.properties
/*.iml
