<nav class="navbar navbar-expand-xl navbar-light bg-light shadow" xmlns:th="http://www.thymeleaf.org">

    <a class="navbar-brand d-flex align-items-center" href="/">
        <img th:src="${@applicationConfig.getLogoFrontPath()}" width="50" height="50" class="d-inline-block align-top"
             alt="Computing College Logo">
        <span class="ml-2" th:text="${@applicationConfig.getAppNameFront()}"></span>
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
<!--            <li th:if="${!@applicationConfig.getMenuCoursesDisabled()}" class="nav-item">-->
<!--                <a class="nav-link" href="/courses">-->
<!--                    <span><i class="fas fa-video"></i></span>-->
<!--                    <span th:text="#{navbar.courses}"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/buy-our-code">-->
<!--                    <span><i class="fas fa-code"></i></span>-->
<!--                    <span th:text="#{navbar.buy.our.code}"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/selections">-->
<!--                    <span><i class="fas fa-hand-pointer"></i></span>-->
<!--                    <span th:text="#{navbar.selections}"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--                <a class="nav-link" href="/memes">-->
<!--                    <span><i class="fas fa-laugh-squint"></i></span>-->
<!--                    <span th:text="#{navbar.memes}"></span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li th:if="${@courseCustomersService.isLoggedCustomerStudent()}" class="nav-item">-->
<!--                <a class="nav-link" href="#">-->
<!--                    <span><i class="fas fa-laugh-squint"></i></span>-->
<!--                    <span th:text="#{navbar.student.area}"></span>-->
<!--                </a>-->
<!--            <li>-->
<!--                <span class="border"></span>-->
<!--            <li th:if="${@courseCustomersService.isLoggedCustomerUser()}" class="nav-item">-->
<!--                <a class="nav-link" href="/basket">-->
<!--                    <span><i class="fas fa-shopping-cart"></i></span>-->
<!--                    <span th:text="#{navbar.basket}"></span>-->
<!--                    <span id="products-in-basket-counter" style="display: none;"-->
<!--                          class="badge badge-pill bg-danger"><span id="products-in-basket-quantity"></span></span>-->
<!--                </a>-->
<!--            </li>-->
<!--            <span th:if="${@userService.isLoggedUserUser()}" class="border"></span>-->
<!--            <li th:if="${@userService.isLoggedUserUser()}" class="nav-item dropdown">-->
<!--                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">-->
<!--                    <span><i class="fas fa-database"></i></span>-->
<!--                    <span th:text="#{navbar.my.products}"></span>-->
<!--                </a>-->
<!--                <div class="dropdown-menu dropdown-menu-right">-->
<!--                    <a class="dropdown-item" href="/my-courses">-->
<!--                        <span><i class="fas fa-video"></i></span>-->
<!--                        <span th:text="#{navbar.my.courses}"></span>-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="/my-codes">-->
<!--                        <span><i class="fas fa-code"></i></span>-->
<!--                        <span th:text="#{navbar.my.codes}"></span>-->
<!--                    </a>-->
<!--                    <a class="dropdown-item" href="/my-selections">-->
<!--                        <span><i class="fas fa-hand-pointer"></i></span>-->
<!--                        <span th:text="#{navbar.my.selections}"></span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </li>-->
            <li th:if="${@userService.isLoggedUser() or @userService.isLoggedUserAdmin()}" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    <span><i class="fas fa-user-alt"></i></span>
                    <span th:text="#{navbar.my.account}"></span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/account-settings">
                        <i class="fas fa-cog"></i>
                        <span th:text="#{navbar.settings}"></span>
                    </a>
<!--                    <a class="dropdown-item" href="/payments">-->
<!--                        <span><i class="fas fa-coins"></i></span>-->
<!--                        <span th:text="#{navbar.payments}"></span>-->
<!--                    </a>-->
                </div>
            </li>
            <li th:if="${@userService.isLoggedUserAdmin()}"
                class="nav-item"><a class="nav-link" href="/admin" th:text="#{navbar.admin}"></a></li>

            <li id="notifications-dropdown" class="nav-item dropdown">
                <a class="nav-link hidden-arrow" href="#" role="button" data-toggle="dropdown">
                    <span><i class="fas fa-bell"></i></span>
                    <span id="notifications-badge" class="badge rounded-pill badge-notification bg-danger"
                          style="display: none;" notifications-active="true"><span
                            id="notifications-counter"></span></span>
                </a>
                <div id="notifications-dropdown-body" class="dropdown-menu dropdown-menu-xl-right">
                    <div class="text-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </li>

            <span class="border"></span>
            <li class="nav-item">
                <a class="nav-link" href="/perform/logout">
                    <span><i class="fas fa-sign-out-alt"></i></span>
                    <span th:text="#{navbar.logout}"></span>
                </a>
            </li>
        </ul>
    </div>

</nav>