<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-vehicle-service-action-removed.js}"></script>
    <script th:inline="javascript">
        var vehicle = [[${vehicle}]];
        var serviceAction = [[${serviceAction}]]
        var serviceActionTypes = [[${serviceActionTypes}]];
        var taxRates = [[${taxRates}]];
        var workshops = [[${workshops}]];
    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="text-center">
        <h3 th:text="#{vehicle.service.details}"></h3>
        <h4 th:text="${vehicle.brandName} +' '+ ${vehicle.modelName}"></h4>
        <h5 th:text="${vehicle.registrationNumber}"></h5>
    </div>

    <div id="error-alert" class="alert alert-danger text-center d-none mt-3" role="alert">
        <h4 id="error-alert-text" class="alert-heading"></h4>
    </div>

    <form class="bg-light p-5 border">
        <div class="form-row">
            <div class="form-group col-md-4 text-center">
                <label for="invoice-number" th:text="#{vehicle.service.invoice.no}"></label>
                <input type="text" class="form-control" id="invoice-number" th:value="${serviceAction.invoiceNumber}" readonly>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="invoice-net-value" th:text="#{vehicle.service.invoice.net.value}"></label>
                <input type="text" class="form-control" id="invoice-net-value"
                       th:value="${serviceAction.invoiceNetValue}" readonly>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="invoice-tax-rate" th:text="#{vehicle.service.invoice.tax.rate}"></label>
                <select id="invoice-tax-rate" class="form-control" disabled>
                    <option th:each="taxRate : ${taxRates}"
                            th:value="${taxRate.code}"
                            th:text="${taxRate.value}"
                            th:selected="(${taxRate.code} == *{serviceAction.taxRate})"></option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="service-date" th:text="#{vehicle.service.date}"></label>
                <input type="date" class="form-control" id="service-date" th:value="${serviceAction.serviceDate}" readonly>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="service-workshop" th:text="#{vehicle.service.workshop}"></label>
                <select id="service-workshop" class="form-control" onchange="reloadWorkshopServices()" disabled>
                    <option th:each="workshop : ${workshops}"
                            th:value="${workshop.id}"
                            th:text="${workshop.name}"
                            th:selected="(${workshop.name} == *{serviceAction.workshopName})"></option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="car-mileage" th:text="#{vehicle.service.car.mileage}"></label>
                <input type="number" class="form-control" id="car-mileage" th:value="${serviceAction.carMileage}" readonly>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="service-action-type" th:text="#{vehicle.service.type}"></label>
<!--                <input type="text" class="form-control" id="service-action-type" th:value="${serviceAction.serviceActionTypeName}" readonly>-->
                <select id="service-action-type" class="form-control" disabled>
                    <option th:each="serviceActionType : ${serviceActionTypes}"
                            th:value="${serviceActionType.id}"
                            th:text="${serviceActionType.value}"
                            th:selected="(${serviceActionType.value} == *{serviceAction.serviceActionTypeName})"></option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="service-action-description" th:text="#{vehicle.service.description}"></label>
                <input type="text" class="form-control" id="service-action-description"
                       th:value="${serviceAction.serviceActionDescription}" readonly>
            </div>



        </div>


            <div class="text-center">
                <button type="button" class="btn btn-warning mt-3" onclick="history.back()"
                        th:text="#{Cancel}"></button>
                <button type="button" class="btn btn-warning mt-3" onclick="sendRestoreRequest()"
                        th:text="#{Restore}"></button>
            </div>

    </form>

</div>

<div th:replace="fragments/operation-successful-modal :: modal"></div>
<div th:replace="fragments/restore-object-modal :: modal"></div>
</body>

</html>
