<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-brands.js}">
        var brands = [[${brands}]];
    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<h5 th:text="#{brands.list}"></h5>

<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-modal"
        th:text="#{brands.add}"></button>

<form id="filter" class="bg-light border m-0 p-0 my-3">
    <div class="form-row m-0 p-0">
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{vehicle.details.brand}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="brand-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="brand : ${brands}"
                            th:value="${brand.name}"
                            th:text="${brand.name}">
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>

<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table bg-light table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th class="align-middle col-sm-1" th:text="#{vehicle.ordinal.number}"></th>
                <th class="align-middle col-sm-2" th:text="#{vehicle.details.brand}"></th>
                <th class="align-middle col-sm-2" th:text="#{Edit}"></th>
                <th class="align-middle col-sm-2" th:text="#{models.list}"></th>
            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="#{brands.add}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center">

                    <div class="table-responsive mb-0 pb-0">
                        <table class="table bg-light table-bordered table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2" th:text="#{vehicle.details.brand}"></th>
                            </tr>
                            </thead>
                            <tbody id="first">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <input id="create-brand" class="form-control" type="text">
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="sendCreateRequest()">Dodaj</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/pagination :: pagination"></div>

</body>

</html>