<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-vehicle-edit.js}"></script>
    <script th:inline="javascript">
        var vehicle = [[${vehicle}]];
        var brands = [[${brands}]];
        var models = [[${models}]];
    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="text-center">
        <h4 th:text="#{vehicle.details}"></h4>
    </div>

    <form class="bg-light p-5 border">
        <div class="form-row">
            <div class="form-group col-md-4 text-center">
                <label for="brand" th:text="#{vehicle.details.brand}"></label>
                <select class="form-control" id="brand">
                    <option th:each="brand : ${brands}"
                            th:value="${brand.id}"
                            th:text="${brand.value}"
                            th:selected="(${brand.value} == *{vehicle.brandName})">
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="model" th:text="#{vehicle.details.model}"></label>
                <select class="form-control" id="model">
                    <option th:each="model : ${models}"
                            th:value="${model.value}"
                            th:text="${model.value}"
                            th:selected="(${model.value} == *{vehicle.modelName})">
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="registrationNumber" th:text="#{vehicle.details.registrationNumber}"></label>
                <input type="text" class="form-control" id="registrationNumber"
                       th:value="${vehicle.registrationNumber}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="vin" th:text="#{vehicle.details.vin}"></label>
                <input type="text" class="form-control" id="vin" th:value="${vehicle.vin}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="productionYear" th:text="#{vehicle.details.productionYear}"></label>
                <input type="number" class="form-control" id="productionYear" th:value="${vehicle.productionYear}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="firstRegistrationDate" th:text="#{vehicle.details.firstRegistrationDate}"></label>
                <input type="date" class="form-control" id="firstRegistrationDate"
                       th:value="${vehicle.firstRegistrationDate}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="freePlacesForTechnicalInspections"
                       th:text="#{vehicle.details.freePlacesForTechnicalInspections}"></label>
                <input type="number" min="1" max="5" class="form-control" id="freePlacesForTechnicalInspections"
                       th:value="${vehicle.freePlacesForTechnicalInspections}">
            </div>

            <div class="form-group col-md-4 text-center">
                <label for="fuelType" th:text="#{vehicle.details.fuelType}"></label>
                <select id="fuelType" class="form-control">
                    <option th:each="fuelType : ${fuelTypes}"
                            th:value="${fuelType.id}"
                            th:text="${fuelType.value}"
                            th:selected="(${fuelType.value} == *{vehicle.FuelType})">
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="vehicleType" th:text="#{vehicle.details.vehicleType}"></label>
                <select id="vehicleType" class="form-control">
                    <option th:each="vehicleType : ${vehicleTypes}"
                            th:value="${vehicleType.id}"
                            th:text="${vehicleType.value}"
                            th:selected="(${vehicleType.value} == *{vehicle.VehicleType})">
                    </option>
                </select>
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="length" th:text="#{vehicle.details.length}"></label>
                <input type="number" min="0" max="8" step = 0.1 class="form-control" id="length" th:value="${vehicle.length}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="width" th:text="#{vehicle.details.width}"></label>
                <input type="number" min="0" max="8" step = 0.1 class="form-control" id="width" th:value="${vehicle.width}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="height" th:text="#{vehicle.details.height}"></label>
                <input type="number" min="0" max="8" step = 0.1 class="form-control" id="height" th:value="${vehicle.height}">
            </div>

        </div>


        <div class="text-center">
            <button type="button" class="btn btn-danger mt-3" onclick="showDeleteModal()"
                    th:text="#{Delete}"></button>
            <button type="button" class="btn btn-warning mt-3" onclick="history.back()"
                    th:text="#{Cancel}"></button>
            <button type="button" class="btn btn-warning mt-3" onclick="sendUpdateRequest()"
                    th:text="#{Save.changes}"></button>
        </div>
</form>

</div>

<div th:replace="fragments/operation-successful-modal :: modal"></div>
<div th:replace="fragments/delete-object-modal :: modal"></div>
</body>

</html>
