<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-vehicles.js}"></script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<h5>Flota</h5>

<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-modal">Dodaj
    pojazd
</button>

<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table bg-light table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th class="align-middle col-sm-1">Lp.</th>
                <th class="align-middle col-sm-2">Maraka</th>
                <th class="align-middle col-sm-2">Model</th>
                <th class="align-middle col-sm-3">Numer Rejestracyjny</th>
                <th class="align-middle col-sm-2">Szczegóły</th>
                <th class="align-middle col-sm-2">Ostrzeżenie</th>

            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>



<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dodaj nowy samochód</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center">
                    <div class="form-group">
                        <label for="create-brand">Marka</label>
                        <input id="create-brand" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-model">Model</label>
                        <input id="create-model" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-registration-number">Numer rejestracyjny</label>
                        <input id="create-registration-number" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-vin">Numer VIN</label>
                        <input id="create-vin" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-production-year">Rok produkcji</label>
                        <input id="create-production-year" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-first-registration-date">Data pierwszej rejestracji</label>
                        <input id="create-first-registration-date" type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-free-places-for-technical-inspection">Ilość wolnych miejsc na
                            przegląd techniczny</label>
                        <input id="create-free-places-for-technical-inspection" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-fuel-type">Rodzaj paliwa</label>
                        <input id="create-fuel-type" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-vehicle-type">Typ pojazdu</label>
                        <input id="create-vehicle-type" type="text" class="form-control">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="">Dodaj</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/pagination :: pagination"></div>

</body>

</html>