<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-workshop.js}"></script>
    <script th:inline="javascript">
        var workshop = [[${workshop}]];
    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="container">
    <div class="text-center">
        <h4 th:text="#{workshop.details}"></h4>
    </div>

    <form class="bg-light p-5 border">
        <div class="form-row">
            <div class="form-group col-md-4 text-center">
                <label for="name" th:text="#{workshop.name}"></label>
                <input type="text" class="form-control" id="name" th:value="${workshop.name}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="street" th:text="#{workshop.street}"></label>
                <input type="text" class="form-control" id="street" th:value="${workshop.street}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="buildingNo" th:text="#{workshop.building.no}"></label>
                <input type="text" class="form-control" id="buildingNo" th:value="${workshop.buildingNo}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="apartmentNo" th:text="#{workshop.apartment.no}"></label>
                <input type="text" class="form-control" id="apartmentNo" th:value="${workshop.apartmentNo}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="postalCode" th:text="#{workshop.postal.code}"></label>
                <input type="text" class="form-control" id="postalCode" th:value="${workshop.postalCode}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="city" th:text="#{workshop.city}"></label>
                <input type="text" class="form-control" id="city" th:value="${workshop.city}">
            </div>
            <div class="form-group col-md-4 text-center">
                <label for="taxNumber" th:text="#{workshop.tax.number}"></label>
                <input type="text" class="form-control" id="taxNumber" th:value="${workshop.taxNumber}">
            </div>



        </div>


        <div class="text-center">
            <button type="button" class="btn btn-danger mt-3" onclick="showDeleteModal()"
                    th:text="#{Delete}"></button>
            <button type="button" class="btn btn-warning mt-3" onclick="history.back()"
                    th:text="#{Cancel}"></button>
            <button type="button" class="btn btn-warning mt-3" onclick="sendUpdateRequest()"
                    th:text="#{Save.changes}"></button>
        </div>
</div>
</form>

</div>

<div th:replace="fragments/operation-successful-modal :: modal"></div>
<div th:replace="fragments/delete-object-modal :: modal"></div>
</body>

</html>
