<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-workshops.js}">

    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<h5 th:text="#{workshop.list}"></h5>

<button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-modal"
        th:text="#{workshop.add.new}"></button>

<form id="filter" class="bg-light border m-0 p-0 my-3">
    <div class="form-row m-0 p-0">
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{workshop.name}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="name-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="workshop : ${workshops}"
                            th:value="${workshop.name}"
                            th:text="${workshop.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{workshop.city}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="city-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="workshop : ${workshops}"
                            th:value="${workshop.city}"
                            th:text="${workshop.city}">
                    </option>
                </select>
            </div>
        </div>
    </div>
</form>

<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table bg-light table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th class="align-middle col-sm-1" th:text="#{ordinal.number}"></th>
                <th class="align-middle col-sm-3" th:text="#{workshop.name}"></th>
                <th class="align-middle col-sm-2" th:text="#{workshop.address}"></th>
                <th class="align-middle col-sm-1" th:text="#{workshop.postal.code}"></th>
                <th class="align-middle col-sm-1" th:text="#{workshop.city}"></th>
                <th class="align-middle col-sm-1" th:text="#{workshop.tax.number}"></th>
                <th class="align-middle col-sm-1" th:text="#{workshop.edit}"></th>

            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="#{workshop.add.new}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center">

                    <div class="table-responsive mb-0 pb-0">
                        <table class="table bg-light table-bordered table-hover table-sm">

                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-6" colspan="6" th:text="#{workshop.name}"></th>
                            </tr>
                            </thead>
                            <tbody id="first">
                            <tr>
                                <th class="align-middle col-sm-6" colspan="6">
                                    <textarea id="create-name" type="text" class="form-control"></textarea>
                                </th>
                            </tr>
                            </tbody>

                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-4" colspan="4" th:text="#{workshop.street}"></th>
                                <th class="align-middle col-sm-1" colspan="1" th:text="#{workshop.building.no}"></th>
                                <th class="align-middle col-sm-1" colspan="1" th:text="#{workshop.apartment.no}"></th>
                            </tr>
                            </thead>
                            <tbody id="second">
                            <tr>
                                <th class="align-middle col-sm-4" colspan="4">
                                    <input id="create-street" type="text" class="form-control">
                                </th>
                                <th class="align-middle col-sm-1" colspan="1">
                                    <input id="create-building-no" type="text" class="form-control">
                                </th>
                                <th class="align-middle col-sm-1" colspan="1">
                                    <input id="create-apartment-no" type="text" class="form-control">
                                </th>
                            </tr>
                            </tbody>

                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="3"
                                    th:text="#{workshop.city}"></th>
                                <th class="align-middle col-sm-3" colspan="3"
                                    th:text="#{workshop.postal.code}"></th>
                            </tr>
                            </thead>
                            <tbody id="third">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="3">
                                    <input id="create-city" type="text" class="form-control">
                                </th>
                                <th class="align-middle col-sm-3" colspan="3">
                                    <input id="create-postal-code" type="text" class="form-control">
                                </th>

                            </tr>
                            </tbody>

                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="6" th:text="#{workshop.tax.number}"></th>
                            </tr>
                            </thead>
                            <tbody id="fourth">
                            <tr>
                                <th class="align-middle col-sm-6" colspan="6">
                                    <input id="create-tax-number" type="text" class="form-control">
                                </th>
                            </tr>
                            </tbody>

                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="6" th:text="#{workshop.service.action.types}"></th>
                            </tr>
                            </thead>
                            <tbody id="fifth">
                            <tr>
                                <th class="align-middle col-sm-6" colspan="6">
                                    <th:block th:each="actionType: ${serviceActionTypes}">
                                        <input type="checkbox" name="actionTypes"
                                               th:id="${actionType.id}"
                                               th:value="${actionType.id}">
                                        <label class="form-check-label"  th:text="${actionType.value}"></label>
                                        <br>
                                    </th:block>
                                </th>
                            </tr>
                            </tbody>

                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="sendCreateRequest()">Dodaj</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/pagination :: pagination"></div>

</body>

</html>