<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-vehicle-service-actions.js}"></script>
    <script th:inline="javascript">
        var vehicle = [[${vehicle}]];
        var serviceActionTypes = [[${serviceActionTypes}]];
        var workshops = [[${workshops}]];
        var taxRate = [[${taxRates}]];



    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="text-center">
    <h3 th:text="#{vehicle.services}"></h3>
    <h3 th:text="${vehicle.brandName} +' '+ ${vehicle.modelName}"></h3>
    <h5 th:text="${vehicle.registrationNumber}"></h5>


    <button type="button" class="btn btn-warning mt-3" onclick="history.back()"
            th:text="#{Cancel}"></button>
</div>
<div class="text-center">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-modal"
            th:text="#{vehicle.service.add}"></button>
</div>


<form id="filter" class="bg-light border m-0 p-0 my-3">
    <div class="form-row m-0 p-0">
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{vehicle.service.type}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="action-type-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="actionType : ${serviceActionTypes}"
                            th:value="${actionType.value}"
                            th:text="${actionType.value}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{vehicle.service.workshop}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <select id="workshop-filter" class="form-control">
                    <option value="">---</option>
                    <option th:each="workshop : ${workshops}"
                            th:value="${workshop.name}"
                            th:text="${workshop.name}">
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{filter.starting.date}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <input id="date-from-filter" type="date" value="" class="form-control">
            </div>
        </div>
        <div class="form-group row col-12 col-lg-6 border m-0 p-0 py-2">
            <label class="col-12 col-sm-3 col-md-2 col-xl-3 my-auto text-center"
                   th:text="#{filter.end.date}"></label>
            <div class="col-12 col-sm-9 col-md-10 col-xl-9 my-auto">
                <input id="date-to-filter" type="date" value="" class="form-control">
            </div>
        </div>
    </div>
</form>

<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table bg-light table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th class="align-middle col-sm-7" ></th>
                <th class="align-middle col-sm-1" th:text="#{invoice.net.value}"></th>
                <th class="align-middle col-sm-1" th:text="#{invoice.vat.tax.value}"></th>
                <th class="align-middle col-sm-1" th:text="#{invoice.gross.value}"></th>
                <th class="align-middle col-sm-1"></th>

            </tr>
            </thead>
            <tbody id="summary">

            </tbody>
        </table>
        <table class="table bg-light table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th class="align-middle col-sm-1" th:text="#{vehicle.ordinal.number}"></th>
                <th class="align-middle col-sm-1" th:text="#{vehicle.service.date}"></th>
                <th class="align-middle col-sm-2" th:text="#{vehicle.service.type}"></th>
                <th class="align-middle col-sm-3" th:text="#{vehicle.service.workshop}"></th>
                <th class="align-middle col-sm-1" th:text="#{invoice.net.value}"></th>
                <th class="align-middle col-sm-1" th:text="#{invoice.vat.tax.value}"></th>
                <th class="align-middle col-sm-1" th:text="#{invoice.gross.value}"></th>
                <th class="align-middle col-sm-1" th:text="#{vehicle.service.details}"></th>

            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>


    </div>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div id="error-alert" class="alert alert-danger text-center d-none mt-3" role="alert">
                <h4 id="error-alert-text" class="alert-heading"></h4>
            </div>
            <div class="modal-header">
                <h5 class="modal-title" id="create-vehicle-service-header" th:text="#{vehicle.service.add}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6 class="modal-title" id="create-service-basics" th:text="#{vehicle.service.basics}"></h6>
                <form class="text-center">

                    <div class="table-responsive mb-0 pb-0">
                        <table class="table bg-light table-bordered table-hover table-sm">
                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2" th:text="#{vehicle.service.invoice.no}"></th>
                                <th class="align-middle col-sm-2" colspan="2" th:text="#{vehicle.service.date}"></th>
                            </tr>
                            </thead>
                            <tbody id="first">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <input id="create-invoice-number" type="text" class="form-control">
                                </th>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <input id="create-service-date" type="date" class="form-control">
                                </th>
                            </tr>
                            </tbody>


                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2"
                                    th:text="#{vehicle.service.invoice.net.value}"></th>
                                <th class="align-middle col-sm-2" colspan="2"
                                    th:text="#{vehicle.service.invoice.tax.rate}"></th>
                            </tr>
                            </thead>
                            <tbody id="second">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <input id="create-invoice-net-value" type="number" class="form-control">
                                </th>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <select id="create-invoice-tax-rate" class="form-control">
                                        <option value="">---</option>
                                        <option th:each="taxRate : ${taxRates}"
                                                th:value="${taxRate.code}"
                                                th:text="${taxRate.value}"></option>
                                    </select>
                                </th>

                            </tr>
                            </tbody>


                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="6" th:text="#{vehicle.service.workshop}"></th>
                            </tr>
                            </thead>
                            <tbody id="third">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="6">
                                    <select id="create-workshop" class="form-control" onchange="reloadWorkshopServices()">
                                    <option value="">---</option>
                                    <option th:each="workshop : ${workshops}"
                                            th:value="${workshop.id}"
                                            th:text="${workshop.name}"></option>
                                </select>
                                </th>
                            </tr>
                            </tbody>


                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2" th:text="#{vehicle.service.car.mileage}"></th>
                                <th class="align-middle col-sm-2" colspan="2" th:text="#{vehicle.service.type}"></th>
                            </tr>
                            </thead>
                            <tbody id="fourth">
                            <tr>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <input id="create-car-mileage" type="number" min="0" class="form-control">
                                </th>
                                <th class="align-middle col-sm-2" colspan="2">
                                    <select id="create-service-action" class="form-control">
                                        <option value="">---</option>
                                        <option th:each="actionType : ${serviceActionTypes}"
                                                th:value="${actionType.id}"
                                                th:text="${actionType.value}"></option>
                                    </select>
                                </th>

                            </tr>
                            </tbody>


                            <thead class="thead-light">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="6" th:text="#{vehicle.service.description}"></th>
                            </tr>
                            </thead>
                            <tbody id="fifth">
                            <tr>
                                <th class="align-middle col-sm-3" colspan="6">
                                    <textarea id="create-service-action-description" type="text" class="form-control"></textarea>
                                </th>
                            </tr>
                            </tbody>


                        </table>
                    </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="sendCreateRequest()"
                        th:text="#{vehicle.service.add}"></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/pagination :: pagination"></div>

</body>

</html>