<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head"></div>
    <script th:src="@{/js/admin-vehicle-tires.js}"></script>
    <script th:inline="javascript">
        var vehicle = [[${vehicle}]];
        var tires = [[${tires}]];
        var yesNoDict = [[${yesNoDict}]];
        var speedIndex = [[${speedIndex}]];
        var loadIndex = [[${loadIndex}]];
        var tireSeason = [[${tireSeason}]];
        var tireStatus = [[${tireStatus}]];
        var reinforced = [[${reinforced}]];


    </script>
</head>

<body>
<div th:replace="fragments/menu :: menu"></div>

<div class="text-center">
    <h3 th:text="#{vehicle.tires}"></h3>
    <h3 th:text="${vehicle.brandName} +' '+ ${vehicle.modelName}"></h3>
    <h5 th:text="${vehicle.registrationNumber}"></h5>


    <button type="button" class="btn btn-warning mt-3" onclick="history.back()"
            th:text="#{Cancel}"></button>
</div>
<div class="text-center">
    <button type="button" class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#create-modal"
            th:text="#{vehicle.tires.add}"></button>
</div>


<div id="result-container" class="my-4">
    <div class="table-responsive mb-0 pb-0">
        <table class="table bg-light table-bordered table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th class="align-middle col-sm-1" th:text="#{vehicle.ordinal.number}"></th>
                <th class="align-middle col-sm-2" th:text="#{vehicle.tires.brand}"></th>
                <th class="align-middle col-sm-2" th:text="#{vehicle.tires.model}"></th>
                <th class="align-middle col-sm-3" th:text="#{vehicle.tires.season}"></th>
                <th class="align-middle col-sm-2" th:text="#{Details}"></th>

            </tr>
            </thead>
            <tbody id="records">

            </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="create-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" th:text="#{vehicle.tires.add}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center">
                    <div class="form-group">
                        <label for="create-brand" th:text="#{vehicle.tires.brand}"></label>
                        <input id="create-brand" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-model" th:text="#{vehicle.tires.model}"></label>
                        <input id="create-model" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-production-year" th:text="#{vehicle.tires.production.year}"></label>
                        <input id="create-production-year" type="number" min="2020" max="2021" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-purchased-date" th:text="#{vehicle.tires.purchased.date}"></label>
                        <input id="create-purchased-date" type="date" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-width" th:text="#{vehicle.tires.width}"></label>
                        <input id="create-width" type="number" min="125" max="355" step=10 class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-profile" th:text="#{vehicle.tires.profile}"></label>
                        <input id="create-profile" type="number" min="30" max="85" step=5 class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-diameter" th:text="#{vehicle.tires.diameter}"></label>
                        <input id="create-diameter" type="number" min="10" max="24" step=0 class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="create-speedIndex" th:text="#{vehicle.tires.speed.index}"></label>
                        <select id="create-speedIndex" class="form-control">
                            <option th:each="index : ${speedIndex}"
                                    th:value="${index.code}"
                                    th:text="${index.code}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="create-loadIndex" th:text="#{vehicle.tires.load.index}"></label>
                        <select id="create-loadIndex" class="form-control">
                            <option th:each="index : ${loadIndex}"
                                    th:value="${index.code}"
                                    th:text="${index.code}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="create-reinforced" th:text="#{vehicle.tires.reinforced}"></label>
                        <select id="create-reinforced" class="form-control">
                            <option th:each="type : ${reinforced}"
                                    th:value="${type.code}"
                                    th:text="${type.value}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="create-runOnFlat" th:text="#{vehicle.tires.run.on.flat}"></label>
                        <select id="create-runOnFlat" class="form-control">
                            <option th:each="option : ${yesNoDict}"
                                    th:value="${option.code}"
                                    th:text="${option.value}"
                                    th:selected="#{list.choose}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="create-season" th:text="#{vehicle.tires.season}"></label>
                        <select id="create-season" class="form-control">
                            <option th:each="option : ${tireSeason}"
                                    th:value="${option.id}"
                                    th:text="${option.value}"
                                    th:selected="#{list.choose}">
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="create-status" th:text="#{vehicle.tires.status}"></label>
                        <select id="create-status" class="form-control">
                            <option th:each="option : ${tireStatus}"
                                    th:value="${option.code}"
                                    th:text="${option.value}"
                                    th:selected="#{list.choose}">
                            </option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="sendCreateRequest()"
                        th:text="#{vehicle.tires.add}"></button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
            </div>

        </div>
    </div>
</div>

<div th:replace="fragments/pagination :: pagination"></div>

</body>

</html>