<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/front-head"></div>
    <title th:text="#{regulation.tab.title} + ' · ' + ${@applicationConfig.getAppNameFront()}"></title>
    <meta th:if="${#arrays.contains(@environment.getActiveProfiles(),'prod')}" name="robots" content="noindex">
    <script>
        trace('page.show', 'regulation');

    </script>
</head>

<body>
<nav th:replace="${@userService.getLoggedUser()} ? 'fragments/logged-in-navbar' : 'fragments/logged-out-navbar'"></nav>

<div class="container my-5">

    <h3 class="text-center">REGULAMIN W BUDOWIE</h3>
    <h6 class="text-center">Serwisu internetowego „Scaffolding App”</h6>

    <div class="font-weight-bold my-3">Wstęp</div>

    <div class="my-3">
        Serwis internetowy dostępny pod adresem
        <a th:href="${@applicationConfig.getCoursePlatformUrl()}"
           th:text="${@applicationConfig.getCoursePlatformUrl()}"></a> (zwany dalej „Serwisem internetowym”)
        prowadzony jest przez firmę Kondzio Chrzanek Industry,
        NIP: 0000000000, REGON: 000000000, kontakt:
        <a class="text-info" th:href="${@applicationConfig.getCompanyContactMailto()}"
           th:text="${@applicationConfig.getCompanyContactMail()}"></a>.
    </div>
    <div class="my-3">
        Niniejszy regulamin określa rodzaje i zakres świadczenia usług drogą elektroniczną za pośrednictwem Serwisu
        internetowego, zasady zawierania umów za pomocą Serwisu internetowego, zasady wykonywania tych umów, prawa i
        obowiązki Klienta i Usługodawcy oraz tryb odstąpienia od umowy i postępowania reklamacyjnego. W BUDOWIE
    </div>

    <div class="font-weight-bold my-3">§1 Definicje</div>

    <ol>
        <li class="my-1">
            <strong>Serwis internetowy</strong>
            - serwis internetowy dostępny pod adresem
            <a th:href="${@applicationConfig.getCoursePlatformUrl()}"
               th:text="${@applicationConfig.getCoursePlatformUrl()}"></a>
        </li>
        <li class="my-1">
            <strong>Usługodawca</strong>
            - Kondzio Chrzanek z siedzibą przy ul. Internet 00, 00-000 Polski Internet,
            NIP: 0000000000, REGON: 000000000
        </li>
        <li class="my-1">
            <strong>Produkt</strong>
            - dożywotni dostęp do kursu w Serwisie Internetowym
        </li>
        <li class="my-1">
            <strong>Klient</strong>
            - osoba fizyczna, osoba prawna albo jednostka organizacyjna nieposiadająca osobowości prawnej, której prawo
            przyznaje zdolność prawną zawierająca umowę z Usługodawcą.
        </li>
        <li class="my-1">
            <strong>Konto klienta</strong>
            - zbiór informacji o Kliencie, posiadanych produktach oraz historii zakupów znajdujący się w
            systemie informatycznym Usługodawcy.
        </li>
        <li class="my-1">
            <strong>Formularz rejestracji</strong>
            - formularz dostępny w Serwisie umożliwiający utworzenie Konta klienta.
        </li>
    </ol>


</div>


<footer th:replace="fragments/footer"></footer>

</body>

</html>
